// COLORS
$color-primary-1:#101d2c;
$color-secondary-2:#101d21;
$color-primary-2:#34495e;
$color-primary-3:#485460;
$color-primary-4:#3d3d3d;
$color-button:#87ceeb;
$color-secondary:#00ffff;
$color-dark-1:#333;
$color-grey-light:#777;
$color-primary-6:#1b2527;
$color-primary-5:#515665;
$color-white:#fff;
